div#container {margin: 0 auto; padding: 20px; width: 800px;}
h3{clear: both;}
pre{background-color: #eee; border: 1px solid #ccc; line-height: 1.4em; padding: 10px; margin: 0;}

div#flash{background: #ccc; border-bottom: 1px solid #aaa; padding: 10px;}
div#flash p{margin: 0;}

.fieldsets:last-child{margin: 0;}
fieldset{border: 1px solid #ccc; height: 350px; margin-right: 10px; float: left; padding: 10px; width: 368px;}
legend{font-weight: bold; text-transform: uppercase; margin-right: -15px;}
label{float: left; line-height: 1.5em; width: 70px;}
small{color: #666; clear: both; display: block; margin-left: 70px; }
input[type=text]{width: 360px;}
input[type=number]{width: 50px;}
input[type=button]{padding: 5px;}